@mixin text-center() {
    text-align: center;
}

@mixin navLogoToggle() {
    color: $primary-title-color;
    font-weight: $font-medium;
}

@mixin about() {
    display: block;
    @include text-center();
}

@mixin skillsIcon() {
    font-size: 2rem;
    color: $primary;
}

@mixin barPer() {
    height: 5px;
    border-radius: 0.25rem;
}

@mixin loopPer($items) {
    @each $attr,
    $num in $items {
        &__#{$attr} {
            width: $num;
        }
    }
}