.about {
    &__img {
        width: 200px;
        border-radius: 0.5rem;
        justify-self: center;
        align-self: center;
    }
    &__description {
        @include text-center;
        margin-bottom: $mb-2-5;
    }
    &__info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: $mb-2-5;
        &-title {
            font-size: $h2-font-size;
            font-weight: $font-semi-bold;
            color: $primary-title-color;
            @include about;
        }
        &-name {
            font-size: $small-font-size;
            @include about;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
}