.button {
    display: inline-block;
    background-color: $primary;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: $font-medium;
    &:hover {
        background-color: $primary-alt;
    }
    &-icon {
        font-size: 1.25rem;
        margin-left: $mb-0-5;
        transition: 0.3s;
    }
    &--flex {
        display: inline-flex;
        align-items: center;
    }
}