.skills {
    &__container {
        row-gap: 0;
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: $mb-2-5;
        cursor: pointer;
    }
    &__icon {
        @include skillsIcon;
        margin-right: $mb-0-75;
    }
    &__arrow {
        @include skillsIcon;
        margin-left: auto;
        transform: 0.4s;
    }
    &__title {
        font-size: $h3-font-size;
    }
    &__subtitle {
        font-size: $small-font-size;
        color: $primary-text-color;
    }
    &__titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: $mb-0-5;
    }
    &__names {
        font-size: $normal-font-size;
        font-weight: $font-medium;
    }
    &__bar {
        @include barPer;
        background-color: $primary-lighter;
    }
    &__percentage {
        @include barPer;
        display: block;
        background-color: $primary;
    }
    $frontEnd: ("html", 90%) ("css", 85%) ("js", 60%) ("react", 80%);
    $backEnd: ("node", 60%) ("firebase", 75%) ("python", 60%) ("go", 55%);
    $dataBase: ("oracle", 70%) ("mysql", 75%) ("postgres", 60%) ("mongodb", 55%);
    @include loopPer($frontEnd);
    @include loopPer($backEnd);
    @include loopPer($dataBase);
    &__close &__list {
        height: 0;
        overflow: hidden;
    }
    &__open &__list {
        height: max-content;
        margin-bottom: $mb-2-5;
    }
    &__open &__arrow {
        transform: rotate(-180deg);
    }
}